*.lock
*.metadata
*analysis_options.yaml
*windows
*web

# TODO should be removed in future
/ecommerce_be_flutter
#

/ecommerce_be_client/lib/src/protocol

*generated/
/ecommerce_be_server/migrations/
